/*HTML*/
html{
    margin:0px;
    width:100%;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:0px;
}

/*Typography*/
h1{ 
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}
p{ 
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}
/*Utilities*/
.text-center{
    text-align:center;
}
.bg-gray{
    background-color: hsl(212, 45%, 89%);
}
.bg-white{
    background-color: #fff;
}
.rounded{
    border-radius: 12px;
}
.pb-2{
    padding-bottom:20px;
}
.pt-2{
    padding-top:20px;
}
.lr-padding{
    padding-left:35px;
    padding-right:35px;
}

.container {
    width: 325px;
    margin: auto;
}
img{
    max-width: 290px;
}